<div class="col-10">
  <div class="row">
    {% for category in categories %}
      <div class="col-3">
        <div class="row py-2 mx-2">
          <div class="col-3">
            <img class="img-fluid" src="{{ asset('build/images/' ~ category.logo) }}" alt="imageFiltre">
          </div>
          <div class="col-9">
            <a href="{{ path('app_activity_category', { 'id': category.id }) }}">{{ category.name }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
