{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
  <div class="container ">
    {% for category in categories %}
      <a href="{{ path('app_activity_category', { 'id': category.id }) }}">{{ category.name }}</a>
    {% endfor %}
    <div class="row my-5">
            {% include 'activity/_product.html.twig' %}
    </div>
  </div>
{% endblock %}
