{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
    <div class="row categories">
      <div class="container">
        <div class="row">
          {% include 'activity/_categories.html.twig' %}
        </div>
      </div>
    </div>
  <div class="container ">
    <div class="row my-5">
      {% include 'activity/_product.html.twig' %}
    </div>
  </div>
{% endblock %}
