{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
  <div class="categories">
    <div class="container">
      <div class="row">
        {% include 'activity/_categories.html.twig' %}
        <div class="col-2">
          <button type="button" name="filterBtn" id="filterBtn" class="btn btn-filterBtn">Filtre
            <img class="img-fluid" src="{{ asset('build/images/logoFilter.png') }}" alt="imageFiltre">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-5">

      <div id="filterContent">
        {% include 'activity/_filter.html.twig' %}
      </div>
      <div class="row">
        {% include 'activity/_product.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
