.has-hours {
    color: red;
}
.fc-daygrid-day-events {
    display: none;
}
.fc-daygrid-day-top {
    justify-content: center;
    a {
        text-decoration: none !important;
    }
}
.fc-scrollgrid-sync-inner {
    a {
        text-decoration: none !important;
    }
}
.ckeditor {
    img {
        width: 100%;
        height: 100%;
    }
    p {
        font-family: $fontText;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: $fontTitle;
    }
}
#hours-container {
    margin-top: 10%;
    border: solid black 1px;
    div:first-child {
    }
    .row {
        border-top: solid black 1px;
        padding: 10px 0px;
    }
    p {
        padding: 3%;
        margin: 0;
        text-align: center;
        cursor: pointer;
        background-color: $btnBackGreenLight;
        color: white;
        border-radius: 5px;
    }
    .active {
        background-color: $primary !important;
    }
}

button.fc-today-button.fc-button.fc-button-primary {
    display: none;
}
.formCalandar {
    border: solid black 1px;
    padding: 28px;
    font-size: 20px;
    select.select {
        color: #000;
        font-size: 20px;
        font-family: Gentium Book Plus;
        width: 100%;
    }
    h3 {
        color: #000;
        text-align: center;
        font-size: 22px;
        font-family: Gentium Book Plus;
    }
    #calendar {
        border-radius: 12px;
        border: 1px solid #090a0c;
        background: $primary;
        box-shadow: 5px 5px 10px 0px #aaa;
        h2 {
            color: white;
            padding-left: 15px;
            text-transform: capitalize;
        }
        button {
            background: $primary;
            border: none;
        }
    }
    table,
    td,
    .fc-day {
        border: none !important;
    }
    a {
        color: white;
    }
    .fc-day-today {
        background: $primary !important;
    }
}
#review-form {
    label {
        font-family: $fontText;
    }
    .reviewFirst {
        display: grid;
        grid-template-columns: 11fr 1fr;
        button#showReviewFormButton {
            border: none;
            background-color: transparent;
        }
        textarea#review_comment {
            width: 100%;
            border: none;
            border-bottom: 2px solid #d9d9d9;
            height: 35px;
        }
    }
    .wrapper {
        justify-content: start;
    }
    input {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    input[type="range"] {
        height: 24px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }
    input[type="range"]:focus {
        outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #27382e;
        border-radius: 5px;
        border: 0px solid #000000;
    }
    input[type="range"]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 18px;
        width: 18px;
        border-radius: 50px;
        background: #27382e;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7.5px;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
        background: #27382e;
    }
    input[type="range"]::-moz-range-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #27382e;
        border-radius: 5px;
        border: 0px solid #000000;
    }
    input[type="range"]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 18px;
        width: 18px;
        border-radius: 50px;
        background: #27382e;
        cursor: pointer;
    }
    input[type="range"]::-ms-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
        background: #27382e;
        border: 0px solid #000000;
        border-radius: 10px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type="range"]::-ms-fill-upper {
        background: #27382e;
        border: 0px solid #000000;
        border-radius: 10px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type="range"]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 18px;
        width: 18px;
        border-radius: 50px;
        background: #27382e;
        cursor: pointer;
    }
    input[type="range"]:focus::-ms-fill-lower {
        background: #27382e;
    }
    input[type="range"]:focus::-ms-fill-upper {
        background: #27382e;
    }
}
