.has-hours {
    color: red;
  }
  .fc-daygrid-day-events {
    display: none;
}
.fc-daygrid-day-top {
    justify-content: center;
    a{
        text-decoration: none !important;
    }
}
.fc-scrollgrid-sync-inner {
    a{
        text-decoration: none !important;
    }
}


