.categories {
    box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.25);
    .col-8 {
        display: flex;
        align-items: center;
    }
    .col-2 {
        display: flex;
        align-items: center;
    }
    .col-9 {
        border-right: 1px black solid;
    }
}
.product-list {
    .col-lg-3,
    .col-md-6 {
        position: relative;
        a.favoritesLink.favoriteBtn {
            right: 32px;
            top: 13px;
            position: absolute;
            z-index: 1000;
            background-color: white;
            padding: 5px;
            border-radius: 4px !important;
        }
        .card {
            border: none;
            img {
                width: 327px;
                height: 435px;
                object-fit: cover;
            }
        }
    }
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileFilter {
    display: none;
}
@media only screen and (max-width: $landscapeTablets) {
    .btn-filterBtn {
        width: 100%;
    }
}
@media only screen and (max-width: $portraitTablets) {
    .categories {
        .col-3 {
            padding: 0;
            .col-md-9.col-12 {
                padding: 0;
                display: flex;
                justify-content: center;
                a {
                    font-size: 12px;
                }
            }
            .col-md-3.col-12 {
                display: flex;
                justify-content: center;
            }
        }
        .desktopFilter {
            display: none;
        }
    }
    .btn-filterBtn {
        width: 33%;
    }
    .product-list {
        margin-top: 40px;
        .mobileFilter {
            display: flex;
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width: $landscapeMobile) {
    .btn-filterBtn {
        width: 33%;
    }
    .product-list {
        .rowProduct {
            margin: 0;
            justify-content: center;
            .col-lg-3.col-md-6 {
                max-width: 327px;
            }
        }
        .mobileFilter {
            margin-left: 26px;
        }
    }
}
@media only screen and (max-width: $portraitMobile) {
    .btn-filterBtn {
        width: 42%;
    }
}
@media screen and (max-width: 1199px) and (min-width: 991px) {
    .product-list {
        .col-lg-3 {
            width: 33% !important;
        }
    }
    #navbarSupportedContent {
        display: none !important;
    }
}
