#filterContent {
    position: absolute;
    z-index: 100;
    background-color: white;
    width: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    left: 25%;
    form {
        padding: 30px;
    }
}
.btn-filterBtn{
    background-color: $primary;
    color: white;
    padding: 7px 15px;
    border-radius: 20px;
    .img-fluid {
        padding-left: 40px;
    }
    :hover{
        background-color: $primary;
    }
    
}
.filterForm{
    h2,h3{
        font-size: 24px;
    }
}
