.footer {
    text-align: center;
    h3 {
        font-family: "Gentium Book Plus", serif;
        text-transform: uppercase;
        font-size: 24px;
        color: white;
    }
    li {
        a {
            font-size: 20px;
            color: white;
            text-decoration: none;
        }
        list-style: none;
    }
}
.footerHome {
    text-align: center;
    ul {
        padding:0
    }
    h3 {
        width: 40%;
        margin: auto;
        margin-bottom: 5%;
        padding-bottom: 2%;
        font-family: "Gentium Book Plus", serif;
        text-transform: uppercase;
        font-size: 24px;
        color: black;
        border-bottom: black 1px solid;
    }
    li {
        a {
            font-family: "Gentium Book Plus", serif;
            font-size: 20px;
            color: black;
            text-decoration: none;
        }
        list-style: none;
    }
    input {
        border: 0;
        border-bottom: #858585 1px solid;
        background: transparent;
        font-size: 25px;
    }
    p {
        font-size: 27px;
        font-family: "Gentium Book Plus", serif;
    }
    .socialMedia {
        display: flex;
        align-items: center;
    }
    .lastDivFooter {
        a {
            text-decoration: none;
        }
    }
}
.footer {
    text-align: center;
    ul {
        padding:0
    }
    h3 {
        width: 40%;
        margin: auto;
        margin-bottom: 5%;
        padding-bottom: 2%;
        font-family: "Gentium Book Plus", serif;
        text-transform: uppercase;
        font-size: 24px;
        color: rgb(255, 255, 255);
        border-bottom: rgb(255, 255, 255) 1px solid;
    }
    li {
        a {
            font-family: "Gentium Book Plus", serif;
            font-size: 20px;
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
        list-style: none;
    }
    input {
        border: 0;
        border-bottom: #ffffff 1px solid;
        background: transparent;
        font-size: 25px;
    }
    p {
        font-size: 27px;
        font-family: "Gentium Book Plus", serif;
        color: rgb(255, 255, 255);
    }
    .socialMedia {
        display: flex;
        align-items: center;
    }
    .lastDivFooter {
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
}
@media only screen and (max-width: $portraitTablets) {
    .footer,.footerHome {
        .container {
            display: flex;
            flex-direction: column-reverse;
        }
        h3 {
            width: 100%;
            font-size: 20px;
        }
        li {
            a {
                font-size: 16px;
            }
        }
        p {
            font-size: 20px;
        }
        .lastDivFooter {
            a {
                font-size: 13px;
            }
        }
    }
}
