.section1{
    padding-top: 85px;
    padding-bottom: 253px;
    h1,p{
        color: white;
    }
    h1{
        font-size: 85px;
        font-family: 'Gloock', serif;
    }
    p{
        font-size: 32px;
        font-family: 'Gentium Book Plus', serif;
        margin-top: 45px;
    }
    img.yogaWomen {
        z-index: 1;
        position: relative;
    }
    img.headMassage {
        position: absolute;
        top: 302px;
        left: 356px;
        z-index: 0;
    }
}
.section2{
    padding-top: 50px;
   
    h2{
        font-size: 60px;
        font-family: 'Gloock', serif;
    }
    p{
        font-size: 32px;
        font-family: 'Gentium Book Plus', serif;
        margin-top: 45px;
    }
    img.yogaWomen {
        z-index: 1;
        position: relative;
    }
    img.headMassage {
        position: absolute;
        top: 302px;
        left: 356px;
        z-index: 0;
    }
}
.section3{
   
    h2,p{
        color: white;;
    }
    h2{
        padding-top: 45px;
        font-size: 60px;
        font-family: 'Gloock', serif;
    }
    p{
        font-size: 32px;
        font-family: 'Gentium Book Plus', serif;
        margin-top: 45px;
    }
}
.section4{
    padding-top: 50px;
   
    h2{
        font-size: 60px;
        font-family: 'Gloock', serif;
    }
    p{
        font-size: 32px;
        font-family: 'Gentium Book Plus', serif;
        margin-top: 45px;
    }
    img.yogaWomen {
        z-index: 1;
        position: relative;
    }
    img.headMassage {
        position: absolute;
        top: 302px;
        left: 356px;
        z-index: 0;
    }
}