@import "variables.scss";

.form-inline {
    position: relative;
}
img.userLogo {
    margin-left: 10px;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    border-bottom: #8b8b8b solid 2px;
}
.form-inline button {
    position: absolute;
    right: 0;
    top: 0;
}
div#navbarSupportedContent {
    justify-content: center;
}
a.navbar-brand {
    font-family: "Gloock", serif;
    color: white;
    margin-left: 15px;

    &:hover {
        color: white;
    }
}
li.nav-item a {
    color: black;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    padding: 15px 20px;
}
.navRadius {
    background-color: #ffffff00;
    border-radius: 0;
    padding: 0px 57px 0 10px;
    border-bottom: solid white  1.5px !important;
    margin: 0 1px;
    height: 40px;
}
ul.navbar-nav {
    width: 100%;
    justify-content: center;
}

li.nav-item {
    width: 57%;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.542);
}
input.form-control.navRadius.search {
    border: none;
}
@media only screen and (max-width: $portraitTablets) {
    .userNav {
        display: none;
    }
}
