.aboutUs {
    h1 {
        font-family: $fontTitle;
    }
    .thirdRow {
        img {
            height: 499px;
        }
    }
}

@media only screen and (max-width: $landscapeTablets) {
    .aboutUs {
        .thirdRow {
           display: none;
        }
    }
}
