.aboutUs {
    h1 {
        font-family: $fontTitle;
    }
    .thirdRow {
        img {
            height: 499px;
        }
    }
}
.orderPage,
.favoritePage {
    .row.my-2 {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 10px;
    }
}
.stripePage {
    .yourRelaxationFirstDiv {
        border: black solid 1px;
        border-radius: 10px;
        padding: 40px 20px;
    }
    .yourRelaxation {
        border: 0;
    }
    h1,
    h2 {
        font-family: $fontTitle;
    }
    h2 {
        border-bottom: #000 solid 1px;
    }

    h3 {
        font-family: $fontText;
    }
    label {
        font-family: $fontText;
    }
    input,
    div#card-element {
        border: none;
        border-bottom: #000 solid 1px;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        ::placeholder {
            font-family: $fontText;
        }
    }
}

@media only screen and (max-width: $landscapeTablets) {
    .aboutUs {
        .thirdRow {
            display: none;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .orderPage,
    .favoritePage {
        img.img-fluid {
            max-width: 347px;
            max-height: 229px;
            width: 347px;
            object-fit: cover;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .orderPage,
    .favoritePage {
        img.img-fluid {
            max-height: 191px;
            width: 288px;
            object-fit: cover;
        }
    }
}
@media only screen and (max-width: 992px) {
    .orderPage,
    .favoritePage {
        img.img-fluid {
            max-height: 139px;
        }
    }
}
@media only screen and (max-width: $landscapeMobile) {
    .orderPage,
    .favoritePage {
        h3 {
            font-size: 18px;
        }
    }
}
