$primary: #304035;
$secondary: #517360;
$info: #8c873b;
$black: #131315;
$white: #f9f9f9;
$portraitMobile: 320px;
$landscapeMobile: 480px;
$portraitTablets: 768px;
$landscapeTablets: 1024px;
$laptops: 1280px;
$desktop: 1440px;
