$primary: #27382E;
$secondary: #517360;
$third: #869F93;
$info: #8c873b;
$black: #131315;
$btnBack: #2B2B2B;
$white: #f9f9f9;
$btnBackGreenLight: #466454 ;
$btnBackGreenDark: #446354 ;
$portraitMobile: 320px;
$landscapeMobile: 480px;
$portraitTablets: 768px;
$landscapeTablets: 1024px;
$laptops: 1280px;
$desktop: 1440px;
