
<h1>Formulaire de contact</h1>
<p>
    Nouveau message de {{ lastname }} {{ firstname }} vias le formulaire de contact du site web  sérinityLab:
</p>
Le message du formulaire de contact est :
<p>{{ message }}</p>
