<footer class="footer bg-primary p-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <h3>Navigation</h3>
        <ul>
          <li>
            <a href="#">Accueil</a>

          </li>
          <li>
            <a href="#">Activités
            </a>
          </li>
          <li>
            <a href="#">Qui sommes-nous ?
            </a>
          </li>
          <li>
            <a href="#">Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4">
        <h3>INFORMATIONS</h3>
        <ul>
          <li>
            <a href="#">Politique de confidentialité</a>
          </li>
          <li>
            <a href="#">Mention légales</a>
          </li>
          <li>
            <a href="#">Conditions générales d'utilisation</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Contact</h3>
        <ul>
          <li>
            <a href="#">Page de Contact</a>
          </li>
          <li>
            <a href="#">Tel : +33 01 24 35 27 27</a>
          </li>
          <li>
            <a href="#">Mail : contact@serinityLab.com</a>
          </li>
          <li>
            <a href="#">Adresse : 12 rue détente, Paris 75011</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="row my-4">
      <div class="d-md-flex justify-content-center">
        <p>SUIVEZ-NOUS!</p>
        <ul>
          <li class="socialMedia d-flex justify-content-center">
            <img class="ic_baseline-facebook" src="{{ asset('build/images/facebookLogo.svg') }}" alt="facebook">
            <img class="instagram mx-2" src="{{ asset('build/images/instagram.svg') }}" alt="instagram">
            <img class="pinterest" src="{{ asset('build/images/pinterestLogo.svg') }}" alt="tiktok">
            <img class="tiktok mx-2" src="{{ asset('build/images/tiktok.svg') }}" alt="tiktok">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row lastDivFooter mt-5">
    <div class="col-4">
      <a href="">Mentions légales</a>
    </div>
    <div class="col-4">
      <a href="">Droits d’auteur</a>
    </div>
    <div class="col-4">
      <a href="">Propriété intellectuelle</a>
    </div>
  </div>
</footer>
