<footer class="footer bg-primary p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>SERVICE CLIENT</h3>
        <ul>
          <li>Mon compte</li>
          <li>Contacter-nous</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>INFORMATIONS PRATIQUES</h3>
        <ul>
          <li>Blog</li>
          <li>Mention légales</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>SUIVEZ-NOUS !</h3>
        <ul>
          <li class="socialMedia">
            <img class="ic_baseline-facebook" src="{{ asset('build/images/ic_baseline-facebook.svg') }}" alt="facebook">
            <img class="instagram mx-2" src="{{ asset('build/images/instagram.svg') }}" alt="instagram">
            <img class="tiktok" src="{{ asset('build/images/tiktok.svg') }}" alt="tiktok">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="socialMedia"></div>
</footer>